<div class="container py-4">
  <h2 class="mb-4">My Favorite Quotes</h2>
  
  <form (submit)="addQuote()" class="mb-5">
    <div class="form-group mb-3">
      <label for="text" class="form-label">Quote</label>
      <input 
        type="text" 
        id="text" 
        [(ngModel)]="newQuote.text" 
        name="text" 
        class="form-control" 
        required 
        placeholder="Enter your quote"
      />
    </div>
    <button type="submit" class="btn btn-primary">Add Quote</button>
  </form>

  <h3 class="mb-3">All Quotes</h3>
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8">
      <ul class="list-group">
        <li *ngFor="let quote of quotes" class="list-group-item">
          <blockquote class="mb-0">
            "{{ quote.text }}"
          </blockquote>
        </li>
      </ul>
    </div>
  </div>
</div>


